node_modules

coverage

.env.development
.env.production
.env

ormconfig.development.json
ormconfig.production.json
ormconfig.json

tmp/**
!tmp/.gitkeep
!tmp/uploads
!tmp/uploads/.gitkeep

yarn-lock.error

*.sqlite
*.sql
