DATABASE_URL="postgres://kaguya:kaguya@localhost:5433/kaguya"

APP_SECRET=replace-with-a-long-random-secret

APP_WEB_URL=http://localhost:3000
APP_API_URL=http://localhost:3333

ADMIN_NAME=App
ADMIN_USERNAME=app
ADMIN_ACCESS=app@kaguya.com.br
ADMIN_PASS=app

STORAGE_DRIVER=disk

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT_ID=
