PORT=3333

# Kafka
KAFKA_BROKERS=localhost:29092
KAFKA_CLIENT_ID=example
# KAFKA_CLIENT_BROKER_1=localhost:29092

# Database postgres
DATABASE_PG_USER=suggestion
DATABASE_PG_PASS=suggestion
DATABASE_PG_HOST=localhost
DATABASE_PG_PORT=5434
DATABASE_PG_DATABASE_NAME=suggestion

# DATABASE_URL=postgresql://{user}:{pass}@{host}:{port}/{db_name}
DATABASE_URL=postgresql://name:password@localhost:5432/example_db